.dial-container {
  width: 50px;
  height: 50px;
  padding: 0px;
  cursor: pointer;
  border-radius: 50%;
  background: #eaeaea;
  box-shadow:
    0 3px 5px rgba(0,0,0,0.25),
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 -5px 5px rgba(100,100,100,0.1),
    inset 0 5px 5px rgba(255,255,255,0.3);
}

.dial-container .dial-rotate {
  width: 50px;
  height: 50px;
}

.dial-dial {
  height: 40px;
  width: 40px;
  margin: 5px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  background-color: #444444;
  position: absolute;
}

.dial-point {
  width: 0px;
  height: 0px;
  border-bottom: 3px solid transparent;
  border-left: 14px solid #ddd;
  border-top: 3px solid transparent;
  left: 31px;
  top: 23px;
  z-index: 2;
  position: absolute;
}
